@font-face { font-family: 'Libre Baskerville'; src: url('Fonts/LibreBaskerville.ttf');}
@font-face { font-family: 'Baskerville'; src: url('Fonts/Baskerville.otf');}

body {
  background: -webkit-linear-gradient(#38374A,#678aa0);
  background: -o-linear-gradient(#38374A, #678aa0);
  background: -moz-linear-gradient(#38374A,#678aa0);
  background: linear-gradient(#38374A,#678aa0);
}

.snow{
	position: absolute;
	border-radius: 100%;
	background-color: #FFFFFF;
	top: -50px;
}
.shadow{
	box-shadow: 0px 0px 10px white;
}

.hide{
	display: none;
}

#message{
	text-shadow: 0px 0px 10px green;
	z-index: -1;
	width: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
	bottom: 60px;
	text-align: center;
	font-family: "Baskerville";
	font-weight: 800;

	font-size: 7em;
	color: #FFFFFF;
}

#mes2{
	z-index: 2;
	width: 900px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
	bottom: 10px;
	text-align: center;
	font-family: "Libre Baskerville";
	font-size: 3em;
	color: #dd3535;
}
